{% extends 'base.html' %}{% load static %}{% block title %}لیست آگهی‌ها{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for ad in ads %}
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/ad-cover.png' %}" class="card-img-top" alt="تصویر آگهی" />
      <div class="card-body">
        <h5 class="card-title">{{ ad.title }}</h5>
        <p class="card-text">توضیحات آگهی</p>
        <a href="#" class="stretched-link"></a>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">{{ ad.created_at|date:"Y/m/d H:i" }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
