{% extends 'base.html' %}{% load static %}{% block title %}ورود به سامانه{% endblock %}
{% block content %}
  <main class="w-100 m-auto" style="max-width: 18rem">
    <h1 class="h3 mb-3">ورود به سامانه</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <div class="form-floating">
          {{ form.username }}
          {{ form.username.label_tag }}
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating">
          {{ form.password }}
          {{ form.password.label_tag }}
        </div>
      </div>
      {% if form.non_field_errors %}
        <div class="mb-3">
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        </div>
      {% endif %}
      <div class="col-12">
        <button type="submit" class="btn btn-primary">ورود</button>
      </div>
    </form>
  </main>
{% endblock %}
