{% load static %}<!doctype html>
<html lang="fa" dir="rtl" data-bs-theme="dark">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
{% include "navbar.html" %}
<div class="container pt-5">
  {% block content %}{% endblock %}
</div>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>
